<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text" style="padding-top: 16vh;">

                <div style="border-radius: 5%; margin-top: -1%; padding: 1.1%; background-color: rgba(0,0,0,0.5);">
                     <div class="intro-lead-in">Kevin Hung's Inaugural </div>
                     <div class="intro-heading">Birthday Crypto Conference</div>
                     <div class="intro-lead-in">May 29-30th, 2018 </div>
                     <div class="intro-lead-in">Extended Weekend Holiday</div>
                     <div class="intro-lead-in">Berkeley Marina</div>
                     <a href="https://www.facebook.com/events/156653291855066" class="page-scroll btn btn-xl">RSVP Now</a>
                 </div>
                </div>
        </div>
    </header>

    {% comment  include 2017_data/intro.html  %} {% endcomment %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% comment  include 2016_data/contact.html %} {% endcomment %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
